<app-header></app-header>
<div class="content">
  <div class="left-content">
    <app-left-menu (currentActiveMenu)="getCurrentActiveMenu($event)" [listItems]="listItems"></app-left-menu>
  </div>
  <div class="right-content">
    <div class="main-content">
      <div class="main-content-title">
        {{activePage.name}}
        <app-product *ngIf="activePage.id==2" [productsList]="products" [categories]="categories" [materials]="materials"></app-product>
        <app-categories *ngIf="activePage.id==3" [categoriesList]="categories"></app-categories>
        <app-add-product *ngIf="activePage.id==4" [materials]="materials" [categories]="categories"></app-add-product>
        <app-add-category *ngIf="activePage.id==5"></app-add-category>
      </div>
    </div>
  </div>
</div>