<div class="add-product">
    <form [formGroup]="addProduct" (ngSubmit)="saveProduct()" class="form">
        <div class="item">
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name">
        </div>
        <div class="item">
            <label for="weight">Weight</label>
             <input id="weight" type="number" formControlName="weight" required>
        </div>
        <div class="item">
            <label for="quantity">Quantity</label>
            <input id="quantity" type="number" formControlName="quantity" required>
        </div>
        <div class="item">
            <label for="category">Category</label>
            <select id="category" formControlName="category">
                <option *ngFor="let category of categories;" [value]="category.id">{{category.name}}, Purity: {{category.purity}}%</option>
            </select>
        </div>
        <div class="item">
            <label for="material">Material</label>
            <select id="material" formControlName="material">
                <option *ngFor="let material of materials;" [value]="material.id">{{material.name}}</option>
            </select>
        </div>
        <div class="item-btn">
            <button type="submit" [disabled]="!addProduct.valid" mat-flat-button color="primary">Add</button>
        </div>
    </form>
</div>